---
import "../styles/global.css";

const pageTitle = "Sobre mí";

const identity = {
  firstName: "JD",
  country: "España",
  occupation: "Desarrollador web",
  hobbies: ["Astro", "Aprendizaje", "Escritura"],
};

const skills = ["HTML", "CSS", "JavaScript", "Astro"];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <style define:vars={{ skillColor, fontWeight, textCase }}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <h1>Astro</h1>
    <a href="/">Inicio</a>
    <a href="/about">Sobre mí</a>
    <a href="/blog">Blog</a>
    <h2>{pageTitle}... ¡y mi nuevo sitio Astro!</h2>
    <p>
      Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda
      página de mi sitio web, ¡y es la primera que he construido yo mismo!
    </p>
    <p>He aquí algunos datos sobre mí:</p>
    <ul>
      <li>Nombre: {identity.firstName}</li>
      <li>País: {identity.country}</li>
      <li>Profesión: {identity.occupation}</li>
      <li>Hobbies: {identity.hobbies.join(", ")}</li>
      <p>Mis habilidades son:</p>
      <ul>{skills.map((skill) => <li class="skill">{skill}</li>)}</ul>
    </ul>
  </body>
</html>
